body{
    margin: 0 auto;
    width: 1200px;
}
h1,p{
    text-align: center;
    font-family: sans-serif;
}
div{
    width: 350px;
    height: 400px;
    display: inline-block;
    margin: 5px 5px 0 5px;
    box-shadow:  0 0 2px;
    border-radius: 0 0 10px 10px;
}
img{
    width: 100%;
}