p{
    text-align: justify;
}
.first_div{
    color:black; background-color: rgb(226, 192, 117);text-align: center;text-transform: capitalize;
}
.second_div{
    background-color: lightgreen;
}
ul{
    font-size: 20px;
}
img{
    width: 100px; margin: 5px
}
.third_div{
    margin-top: 50px;
}
.hr_1{
    margin-top: 80px;
}