nav,ul{
    padding:0;
    margin:0;
    border:0;
}
.container{
    width: 900px;
    margin:0 auto;
}
.niveau1 li{
list-style-type:none;
padding:10px;

}
nav a{
    text-decoration: none;
    color:black;
}
.niveau1{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
  
}
.niveau2{
    display:none;

}
.niveau1 li:hover{
    background-color: #EDD;
}
.niveau1 li:hover .niveau2{
    display: block;
}