body{
    width: 1200px;
    margin: 0 auto;
    font-family: cursive;
}
header, footer{
    background-color: #8e3557;
    height: 80px;
    text-align: center;
    color: white;
    font-weight: bold;
    
}
nav{
    background-color: #4a1A2c;
    height: 60px;
    color: white;
    padding-top: 15px;
    padding-left: 30px;
}
section{
    background-color: #787746;
    height: 600px;
    padding: 20px;

}
section p{
    background-color: orange;
    height: 400px;
    margin: 20px;
}
p{
    margin: 0;
}